@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

html,body{
	width: 100%;
	height: 100%;
}

/*nav*/
.navbar{
	margin-bottom: 0 !important;
	border: none !important;
	border-radius: 0 !important;
}

.nav-bar{
	background-color: #34495E;
	padding: 1%;
}

.nav-bar a{
	color: #ADB4BB !important; 
	text-decoration: none;
}

.nav-bar img{
	margin: 5%;
}

.Home-bg{
	background-color: #2C3E50;
	border-radius: 5px;
}

.navbar ul li:hover{
	background-color: #2C3E50;
	border-radius: 5px;
}
/*Carousel*/
.carousel-caption {
    text-align: left !important;
    left: 10%;
    bottom: 37%;
}

.carousel-caption span {
	font-weight: 200;
	font-size: 2.5em;
	color: white;
}

.carousel-caption p{
	color: white;
	font-size: 1em;

}

/*section header icons*/

.section-header{
	padding:4%;
    color: white;
}

.icon-redes{
	font-size: 35px;
	height: 70px;
	width: 70px;
	padding: 20px;
	background-color:rgba(0, 0, 0, 0.4);
	display:block;
	border-radius: 50%;
}

.icon-redes:hover{
	cursor: pointer;
	background-color: #092917;
	border-radius: 20%;
	-webkit-transition: 500ms;
	transition: 500ms;
}
.bg-g{
	background-color: #2ECC71;
}

.bg-p{
	background-color: #F5F5F5;
}

.text-white{
	color: white;
}

.pd-4{
	padding: 4%;
}
.mg-4{
	margin: 4%;
}
/*Our Latest Project*/
.Last-project{
	padding: 6%;
}

.Last-project a{
  background-color: #D9534F !important;
  border-color: #D9534F !important;
}

.caption p{
	margin-bottom: 0 !important;
	font-size: 1.28em;
}

.thumbnail-hover{
	-webkit-transform: scale(1,1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1,1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
}

.thumbnail-hover:hover{
	cursor: pointer;
	-webkit-transform: scale(1.12,1.12);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 100ms;
	-moz-transform: scale(1.12,1.12);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 100ms;
}

/*Our Clients*/
 .Our-Clients{
 	background-color: #E74C3C;
 	padding: 4% 0%;
 }

 .Our-Clients span{
 	font-size: 0.7em;
 	font-size: sans-serif;
 }
  /*ABOUT .HTML*/

 .section-about a{
 	color: white;
 	text-decoration: none;
 	font-size: 1.2em;

 }
.section-about p{
	color: white !important;
}
#bottom {
    color: #bdc3c7;
}
ul.arrow, ul.arrow-double, ul.tick, ul.cross, ul.star, ul.rss {
    list-style: none;
    padding: 0;
    margin: 0;
}
.newmember {
    background-color: #34495e;
}
body > section {
    padding: 50px 0;
}
.row > div {
    margin-bottom: 10px;
}
a {
  color: #34495e;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.newmember a:not(.btn) {
    color: #bdc3c7;
}
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #bdc3c7;
}
.goldmember {
    background-color: #2c3e50;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}
a {
  color: #428bca;
  text-decoration: none;
}
h1{
	color: white;
}
.section-about p {
  color: white !important;
}

/*.navbar-inverse {
    border: none;
}
.wet-asphalt {
    background-color: #34495e;
}
.turquoise, .green-sea, .sun-flower, .orange, .green, .nephrits, .carrot, .pumkin, .peter-river, .belize-hole, .alizarin, .pomegranate, .amethyst, .wisteria, .clouds .silver, .wet-asphalt, .midnight-blue, .concrete, .asbestos {
    color: #fff;
}*/
/*
<<<<<<< HEAD
body {
 background-color: #fff;
}

*{
	font-family:Roboto:400,700,300);
}

header{
	position: fixed;
	width: 100%;
	background-color: #2C3E50;
	height: 14%;
	z-index: 1;
}

header a img{
	padding-top:7%;
}
.navbar-collapse{
	background-color: #2C3E50;
	border: 0px solid transparent;
} 

.navbar-header{
	background-color:  #2C3E50;
}
 
 .navbar-toggle{
margin-top: 5%;
 }

.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-brand:hover{
	color: white;
}
header nav a{
	text-decoration: none;
	padding: 3%;
	text-align: center;
}

a{
	text-decoration: none;
	color: white;
}
.collapse ul li a:hover{
	color: white;
	background-color: rgb(23, 35, 47);
	border-bottom: 0px solid transparent;
	text-align: left;

}
.nav-pills li a {
    border-radius: 0px;
    border: 0px solid transparent;
    background-color: #2C3E50;
}
.a-header{
font-size: 14px;
}

.home{
text-decoration: none;
	background-color: rgb(23, 35, 47);
	color: white;	
}

 header nav a:hover{
	text-decoration: none;
	background-color: rgb(23, 35, 47);
	color: white;
 }

.hero-img{
padding-top:68%;
 background: url('../img/slider/bg1.jpg')center no-repeat;
 width: 100%;
}

.flat-theme{
color: white;
font-size: 24px;
}*/

.portafolio{
	background-color:rgba(43, 179, 49, 0.8);
	padding-top: 10%;
	padding-bottom: 4%;
}

.portafolio nav a{
	color: rgba(255, 255, 255, 0.68);
	padding: 1%;
	text-decoration: none;

}
.portafolio nav a:hover{
	color: white;
}

.img-green{
	padding:4%;
	width: 100%;
}

.green{
width: 100%;
background-color:white;
border: 1px solid rgba(0, 0, 0, 0.08);
}

.first-footer{
	background-color:#2C3E50;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 9%;
	padding-right: 9%;
	color:rgba(255, 255, 255, 0.67); 
}

.first-footer h3{
	color: white;
}

.img-footer{
	float: left;
	padding-right: 3%;
}

.ico{
	padding-right: 2%;
}

footer nav a:hover {
background-color:#2C3E50;
text-decoration: none;
color: white;
}
footer nav a{
	text-decoration: none;
	padding:2%;
}
footer{
	padding-left: 6%;
	padding-right: 6%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: rgb(23, 35, 47);
	color:rgba(255, 255, 255, 0.67);
}

.img-ads{
	width: 100%;
	border-radius: 4%;
}

.blog{
	padding-top: 4%;
	padding-bottom: 4%;
}


=======
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-top: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
#main-slider {
  position: relative;
}
.no-margin {
  margin: 0;
  padding: 0;
}
.wet-asphalt {
  background-color: #34495e;
}

.green {
  background-color: #2ecc71;
}
.row > div {
  margin-bottom: 10px;
}

#title h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
}
body > section {
  padding: 50px 0;
}
ul.breadcrumb {
  margin: 20px 0 0;
  background: transparent;
}
ul.breadcrumb > li > a, ul.breadcrumb > li .divider {
  color: #fff;
}
ul.breadcrumb > li.active {
  color: rgba(255, 255, 255, 0.7);
}
a {
  color: #34495e;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.progress, .progress .bar {
  background: #fff;
  webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 30px;
  line-height: 30px;
}
>>>>>>> 6f6de2819e500efc934496ee66757c64f770a121
